@use '../../variables.scss' as *;
@use '../../responsive' as *;

.profileUpdatePage {
    height: 100%;
    display: flex;
    flex-direction: row;
    @include md {
      flex-direction: column;
      overflow: scroll;
      order:-1;
    }
    

  
    .formContainer {
      flex:3;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .item {
          display: flex;
          flex-direction: column;
          gap: 5px;
  
          label {
          }
  
          input {
            padding: 20px;
            border-radius: 5px;
            border: $input-border;
          }
        }
        button {
          padding: 20px;
          border-radius: 5px;
          border: none;
          background-color:$button-background;
          color:$button-color;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  
    .sideContainer {
      flex: 2;
      background-color: $background-color;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      @include sm{
        flex: none;
        order: -1;
        height: auto;
      }
  
      .avatar{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }